
* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, Monospace, Courier;
  font-size:15px;
  background: #fffff7;
  width:900px;
  margin:auto;
}

hr {
	width: 900px;
}

a:link, a:active {
  color: #3d3d3d;
}

a:visited, a:hover {
	color:black;
	font-style: italic;
}

table, th, td{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	border:10px;
}

.header {
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

.column {
  margin: auto;
  width: 900px;
  padding: 10px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middle {
	display: inline-block; 
	vertical-align:middle;
}

.bold {
	font-weight: bold;
}

.boldRight{
	font-weight: bold;
	text-align: right;
}

.articles {
	padding-left: 100px;
}

.articleBody {
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
	text-justify: inter-word;
	
}

ul {
	padding-left: 100px;
}

h4 {
	padding-left: 50px;
}

.imageDef {
	width: 600px;
	height: 461px;
	margin: auto;
	display: block;
	box-shadow:5px 5px 2px grey;
}

.imageVert {
	width: 354;
	height: 461px;
	display: block;
	margin: auto;
	box-shadow:5px 5px 2px grey;
}

.imageVertSmall {
	width: 272px;
	height: 354px;
	display: block;
	margin: auto;
	box-shadow:5px 5px 2px grey;
}
	
.indent {
	text-indent: 200px;
}

.codeIndent{
	indent: 200px;
}

.tab{
	tab-size:6;
}

.smallText{
	font-size: 10px;
	text-align: justify;
	text-justify: inter-word;
}

pre {
	display: block;
	width: 550px;
	margin: auto;
	white-space: pre;
} 

code { 

	margin:auto;
    display: block; 
	font-size: 90%;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    color: #dadedf;
    background: #0f0f0f;
	padding-bottom: 20px; 
	background: radial-gradient(circle, rgba(0,0,0,0.896796218487395) 0%, rgba(40,40,40,1) 100%);
	box-shadow: 3px 3px #888888;
    overflow:auto;
}