
* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, Monospace, Courier;
  background: #fffff7;
  width:900px;
  margin:auto;
}

hr {
	width: 900px;
}

a:link, a:active {
  color: #3d3d3d;
}

a:visited, a:hover {
	color:black;
	font-style: italic;
}

table, th, td{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	border:10px;
}

.header {
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

.column {
  margin: auto;
  width: 900px;
  padding: 10px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middle {
	display: inline-block; 
	vertical-align:middle;
}

.bold {
	font-weight: bold;
}

.boldRight{
	font-weight: bold;
	text-align: right;
}

.articles {
	padding-left: 100px;
}

.articleBody {
	padding-left: 100px;
	padding-right: 100px;
	text-align: justify;
	text-justify: inter-word;
	
}

.imageDef {
	width: 600px;
	height: 461px;
	margin: auto;
	display: block;
	box-shadow:5px 5px 2px grey;
}

.imageVert {
	width: 354;
	height: 461px;
	display: block;
	margin: auto;
	box-shadow:5px 5px 2px grey;
}

.imageVertSmall {
	width: 272px;
	height: 354px;
	display: block;
	margin: auto;
	box-shadow:5px 5px 2px grey;
}
	
.indent {
	text-indent: 200px;
}

.codeIndent{
	indent: 200px;
}

.tab{
	tab-size:6;
}

pre {
    font-size: 90%;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 
    
    width: 700px;
    display: block;
    clear: both;
    color: #555555;
    margin: auto;
	margin-left:140px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1;
	padding-right: 10px;
} 

code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline; 
    color: #555555;
    background: #f4f4f4;
}